.body_background 
{
    background-image: url("https://external-preview.redd.it/x_BaPYAxk2f_G9g52hcWIThT0hoanye9zcjJJweFZkg.jpg?auto=webp&s=f4f498fe152bc719882e14862db9779095fba377");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
	border-color:darkred;
    background-color: palevioletred; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
